@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Mantenibilidad de la apariencia visual mediante variables*/
:root {
    --bg-main-color: #FAFAFA;
    --bg-card-color: #F5F5F5;
    --primary-color: #8B48BF;
    --soft-primary-color: #8b48bf59;
    --secondary-color: #3CDDF3;
    --white-color: #F9F9F9 ;
    --primary-neutral-color: #1E1E26;
    --secondary-neutral-color: #232851;
    --third-neutral-color: #b8b8b8;
}

body {
    animation: fadeIn 0.5s ease-in;
    background-color: var(--bg-main-color);
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul,
li,
a {
    color: inherit;
    list-style: none;
    text-decoration: none;
}

button {
    background: none;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 36px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

/* navbar */
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.navbar li {
    display: inline-block;
    display: inline-flex;
    font-weight: 500;
    padding: 20px;
    transition: color 0.3s ease;
}

.navbar li:hover {
    color: var(--primary-color);
}

.navbar ul{
    padding: 30px 10px;
}

/* Header */
header {
    animation: slideDown 0.5s ease-out;
    padding: 16px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

/* main  */

main {
    animation: slideRight 0.5s ease-out;
    width: 100%;
  }

/* deportistas */
.deport {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    padding: 30px;
}

.deport_img img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.deport_content {
    align-items: end;
    display: flex;
    flex-direction: column;
    flex-grow: .3;
    gap: 1em;
    text-align: end;
    width: 260px;
}

.deport_content h2 {
    color: var(--secondary-neutral-color);
    font-size: 50px;
    font-weight: 700;
}

/* part purple  */

.info_section {
    align-items: center;
    color: var(--white-color);
    display: flex;
    flex-flow: row wrap;
    gap: 2.5em;
    justify-content: center;
    padding: 30px 20px;
}

.purple_back{
    background-color: var(--primary-color);
}

.info__section h2{
    display: flex;
    flex-grow: .2;
    font-weight: 600;
    width: 280px;
}

.info__section p{
    flex-grow: .2;
    font-size: .7rem;
    line-height: 18px;
    width: 280px;
    
}

/* advantage */

.advantages {
    padding: 40px 0px 40px 30px;
}

.advantages_list {
    display: flex;
    flex-flow: row wrap;
    font-size: .7rem;
    gap: 2em;
    justify-content: center;
}

.advantages_list-item {
    display: flex;
    flex-direction: column;
    flex-grow: .3;
    gap: 2em;
    width: 320px;
}

.advantages_list_item_header {
    align-items: center;
    background-color: var(--soft-primary-color);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    font-weight: 700;
    gap: 1em;
    
}

.advantages_list_item_header p {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50px;
    padding: 10px 20px;
}

.advantages_list_item_content {
    color: var(--third-neutral-color);
    line-height: 18px;
}

/* stars */
.stars {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}

.stars h2 {
    color: var(--secondary-neutral-color);
}

.stars_list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px 0 0 0;
}

.stars_list-item {
    background-color: var(--bg-card-color);
    color: var(--third-neutral-color);
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    gap: .5em;
    line-height: 18px;
    padding: 50px 16px 16px 16px;
    position: relative;
    text-align: center;
    width: 300px;
}

.stars_items-img {
    position: absolute;
    height: 60px;
    top: -30px;
    right: 40%;
    width: 60px;

}

.stars_items-img img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.stars_list-item h3{
    color: var(--secondary-neutral-color);
    font-size: .7rem;
    font-weight: 800;
}

/* info purple v2 */

.other{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    gap: 2em;
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.other h2{
    display: flex;
    flex-grow: .2;
    width: 220px;
    font-weight: 600;
    
}

.other div{
    display: flex;
    flex-grow: .2;
    justify-content: center;
    align-items: center;
}

.other div > button{
    background-color: var(--secondary-neutral-color);
}

/* footer  */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: .7rem;
    font-weight: 300;
    padding: 40px 30px;
    background-color: var(--primary-neutral-color);
    gap: 2em;

}

.color_efect:hover {
    background-color: var(--secondary-color);
}

.footer_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.footer_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2.5em;
}

.footer_content form{
    display: flex;
    justify-content: center;
    gap: .5em;
}

.footer_content form > input{
    border-radius: 50px;
    background-color: var(--white-color);
}

.footer_content form > input::placeholder{
    padding-left: 10px;
    background-color: var(--white-color);
    font-size: .6rem;
    color: var(--third-neutral-color);
}

.footer_navigation{
    width: 300px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
}

.footer_content-social{
    display: flex;
    flex-flow: column wrap;    
    gap: 2em;
}

.footer_content-social ul{
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.footer_content-social div{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    justify-content: center;
}


.copyright{
    font-size: .5rem;
    color: var(--third-neutral-color);
}

.disable{
    display: none;
}



@media (min-width: 800px) {


    /* body */
    html{
        font-size: 18px;
    }

    /* navbar */

    .navbar{
        padding: 30px 50px;
    }

    .navbar input[type="checkbox"],
    .navbar label {
        display: none;
    }
    
    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 1em;
    }
    
    
    .menu {
        position: static;
        background-color: transparent;
    }


    /*advanges*/

    .advantages{
        background-color: var(--bg-card-color);
    }

    .advantages_list-item{
        gap: 1em;
    } 

    .advantages_list_item_content{
        padding-left: 65px;
    }

    .advantages_list_item_header{
        background-color: transparent;
        
    }


    /*stars*/

    .stars{
        padding: 5rem 0;
    }

    /* others */
    .other h2{
        text-align: start;
    }

    .other div > button{
        color: var(--primary-color);
        background-color: var(--bg-main-color);
    }

    /*foot*/


    .footer_content{
        flex-flow: row-reverse wrap-reverse;
    }

    .footer_content form{
        align-self: flex-end;
    }

    .footer_content-social{
        align-items: start;
        gap: 3em;
        flex-flow: column-reverse wrap;    
    }

    .footer_content-social ul{
        gap: 1.5em;
    }

    .copy{
        display: flex;
        align-self: flex-end;
    }

    /* EXTRA */

    .purple_back{
        background-color: var(--primary-color);
    }

    .disable{
        display: block;
    }
}
